@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";




@theme{
    --color-primary: #38b000; 
    --color-secondary: #FF7043; /* Vibrant Orange */
    --color-accent: #FFC107; /* Bright Amber */
    --color-cool: #42A5F5; /* Vivid Blue */
    --color-neutral: #424242; /* Dark Gray */
    --color-background: #FFFFFF; /* White */

    --font-noto: "Noto Sans JP", serif;
    --font-roboto: "Roboto", serif;
    --font-poppins: "Poppins", serif;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color: rgba(246, 244, 244, 0.427);
}

#root{
    background-image: url('/bg.png');



}